{% extends 'index.html' %}
{% block content %}
<div class="main-contain">
    <table class="table table-dark table-hover">
        <tbody>
            <tr>
                <td><input class='btn btn-dark btn-circle' , type='button' , value='&lt;&lt; Назад' ,
                        onclick=window.location="/{{ parent }}" /></td>
            </tr>
            {% for var in data %}
            <tr>
                {% if var.image == 'https://dobrotsen.ru/local/templates/main_new/images/nophoto_182.png' %}
                <td width="120"><img width="129" height="129" src="/static/placeholder.png"></td>
                {% else %}
                <td width="120"><img width="129" height="129" src="{{ var.image }}"></td>
                {% endif %}
                <td width="110">{{ var.title }}"</td>
                <td width="120">{{ var.price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="/{{ parent }}"><button class="btn btn-dark btn-circle"
                            class="btn btn-primary btn-circle">&lt;&lt; Назад</button></a></td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}